.mmogame_imgbutton {
    position: absolute;
    padding: 0;
    border-radius: 0em;
    text-shadow: 1px 1px var(--c-sh-txt, rgba(0, 0, 0, 0.5));
    filter: none;
    cursor: pointer;
}
.mmogame_imgbutton:hover, .mmogame_imgbutton:focus {
    outline: none;
    filter: contrast(0.65);
}

.mmogame_imgbutton:active {
    transform: translatey(0.125em);
}

.mmogame_imgbutton_disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity:0.5;
}

.mmogame_buttons {
    position: absolute;
    border: solid .125em transparent;
    padding: 0;
    width: $button-w; height: $button-h;
    border-radius: .5*$button-h;
    color: #fff;
    text-shadow: 1px 1px var(--c-sh-txt, #{rgba(#000, .5)});
    filter: contrast(.65);
    transition: .2s ease-out;
    cursor: pointer;

    &:hover, &:focus {
        outline: none;
        filter: none
    }
  
    &:active { transform: translatey($move-act); }
}

.mmogame_button {
    position: absolute;
    border: solid 0.125em transparent;
    padding: 0;
    border-radius: 1em;
    color: #fff;
    text-shadow: 1px 1px var(--c-sh-txt, rgba(0, 0, 0, 0.5));
    filter: none;
    cursor: pointer;
}

.mmogame_button:hover, .mmogame_button:focus {
    outline: none;

    filter: contrast(0.65);
}

.mmogame_button:active {
    transform: translatey(0.125em);
}

.press-on:after {
    position: absolute;
    top: calc(100% + 0.25em);
    right: -1em;
    left: -1em;
    height: 0.5em;
    background: radial-gradient(rgba(0, 0, 0, 0.25), transparent 50%);
    transition: inherit;
}

.press-on:active:after {
    transform: translatey(-0.125em) scale(1.125, 1.25);
}

.invert {
    color: #000;
    --c-sh-txt: rgba(255, 255, 255, 0.5);
}

.mmogame_button_red {
    box-shadow: inset 0 0 0.125em rgba(255, 255, 255, 0.75);
    background: linear-gradient(#f8e7e8, #e30001, #bc0000) content-box, linear-gradient(-80deg, #f11f20, #9c1c1c, #f11f20) 0/37% 100% border-box;
}

.mmogame_button_1 {
    box-shadow: inset 0 0 0.125em rgba(255, 255, 255, 0.75);
    background: linear-gradient(#5EA4BF, #560001, #470000) content-box, linear-gradient(-80deg, #5B0C1A, #3B0B17, #5B0C1A) 0/37% 100% border-box;
}

.mmogame_button_2 {
    box-shadow: inset 0 0 0.125em rgba(255, 255, 255, 0.75);

    background: linear-gradient(#44C1F2, #300001, #110000) content-box, linear-gradient(-80deg, #40C1E2, #300001, #40B1E2) 0/37% 100% border-box;
}


.mmogameb01 {
    background: radial-gradient(at 50% 100%, #005e9b, rgba(0, 115, 191, 0) 70%) left 50% bottom 0.125em/41% 0.125em no-repeat content-box, radial-gradient(at 50% 0, #2b9bd8, rgba(43, 155, 216, 0) 70%) 50% 100%/41% 0.125em no-repeat content-box, radial-gradient(at 90% 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 51%) 50%/100% 215% border-box, linear-gradient(#2899e9, #0161b0) content-box, linear-gradient(#1a77be, #5bbaf5) border-box;
}

#b02 {
    border-radius: 0.25em;
    box-shadow: inset 0 0.125em 0.125em -0.125em #fff;
    background: linear-gradient(#e7aaaa, #bc0001) content-box, linear-gradient(#ca7574, #910000) border-box;
}

#b02:before {
    box-sizing: border-box;
    display: block;
    margin: -0.28125em auto -1.01875em;
    border: solid 0.0625em transparent;
    width: 75%;
    height: 1.3em;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    background: linear-gradient(#e1e1e1, #656668 21%, #fefefe 65%, #78787a) content-box, repeating-linear-gradient(20deg, #eeefef 0, #7f7c7d 19%, #eeefef 38%) 1.3em/100% 35% border-box;
  content: "";
}

.b03 {
    box-shadow: inset 0 2px 1px -1px rgba(255, 255, 255, 0.5), inset 0 -2px 1px -1px rgba(255, 255, 255, 0.5);
    background: linear-gradient(175deg, #ed4213 5%, rgba(237, 66, 19, 0)) content-box, radial-gradient(at 20% -29%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 51%) content-box, linear-gradient(#ea3403, #af2621) content-box, linear-gradient(#f15326, #ce2623) border-box;
}

#b04 {
    box-shadow: inset 0 -0.5em 0.5em #0569b7, inset 0 -0.5em 0.125rem 0.5em #1680cf;
    background: linear-gradient(#3ba1e9, #3996db 50%) content-box, linear-gradient(#317bb5, #2499e6) border-box;
}

.b04:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1875em;
    background: radial-gradient(closest-side, #30a2dd, rgba(48, 162, 221, 0)) 50%/75% 100% no-repeat;
    content: "";
}

#b05 {
    background: none;
}

#b05:before {
    position: absolute;
    z-index: -1;
    top: -0.125em;
    right: -0.125em;
    bottom: -0.125em;
    left: -0.125em;
    border: inherit;
    border-radius: inherit;
    box-shadow: inset 0 -0.5em 0.125rem 0.5em rgba(148, 10, 0, 0.35);
    background: radial-gradient(closest-side, #ff532b, rgba(255, 83, 43, 0)) 50% 100%/100% 50% no-repeat content-box, linear-gradient(90deg, #d02804, rgba(208, 40, 4, 0) 10%, rgba(208, 40, 4, 0) 90%, #d02804) content-box, linear-gradient(#df4d2a, #c84636 29%) content-box, linear-gradient(#e3380e, #cd2002) border-box;
    content: "";
}

#b05:after {
    position: absolute;
    z-index: -1;
    left: 15%;
    top: -0.375em;
    width: 2em;
    height: 1.5em;
    border-radius: 0.25em;
    background: radial-gradient(circle at 50% 0.25em, #88837f, #bebcbd 0.25em, transparent 0.25em) -1em, radial-gradient(#fff, rgba(255, 255, 255, 0) 70%) 0 50%/0.5em 100% no-repeat, radial-gradient(#fff, rgba(255, 255, 255, 0) 70%) 100% 50%/0.5em 100% no-repeat, linear-gradient(to right top, #fff 50%, rgba(255, 255, 255, 0) 61%) 0 100%/50% 0.25em no-repeat, linear-gradient(to left top, #fff 50%, rgba(255, 255, 255, 0) 61%) 100% 100%/50% 0.25em no-repeat, linear-gradient(#e9e9e9 0.25em, #f0f0f0 43%, #9d9d9f);
    clip-path: polygon(0 0, 0 0.25em, 0.25em 0.25em, 0.25em calc(100% - 0.25em), 50% 100%, calc(100% - 0.25em) calc(100% - 0.25em), calc(100% - 0.25em) 0.25em, 100% 0.25em, 100% 0);
    content: "";
}

#b06 {
    border-radius: 0.5em;
    box-shadow: inset 0 1px 1px #9c9c9c;
    background: radial-gradient(at 0 -15%, rgba(255, 255, 255, 0.07) 70%, rgba(255, 255, 255, 0) 71%) 0 0/80% 90% no-repeat content-box, linear-gradient(#4e4e4e, #040404) content-box, linear-gradient(#292929, #010101) border-box;
}

#b07 {
    border-radius: 0.5em;
    box-shadow: inset 0 1px 1px #6ab9f0, inset 0 -1px 1px #6ab9f0, inset 0 -1.25em 0.125rem #238cd8, inset 0 -0.75em 0.5em -0.25em;
    background: linear-gradient(#61a0d1, #3d8ecd) border-box;
}

#b07:after {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80%;
    height: 0.1875em;
    transform: translate(-50%);
    background: radial-gradient(closest-side, rgba(0, 255, 255, 0.5), rgba(106, 185, 240, 0));
    content: "";
}

#b08 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    border-width: 0.0625em;
    border-radius: 0.375em;
    box-shadow: inset 0 0 1px 1px #0277c7, inset 0 -1em 0.125rem #1a7dce;
    background: linear-gradient(#3d99d8, #4398da 33%) content-box, linear-gradient(#8bc1e5, #1078c4) border-box;
}

#b08:before, #b08:after {
    order: 1;
    content: "";
}

#b08:before {
    margin-top: -0.5625em;
    margin-right: 0.1875em;
    margin-left: -0.4375em;
    width: 0.875em;
    height: 0.875em;
    transform: translate(-1px) rotate(45deg);
    box-shadow: inset -1px 1px 2px #78b9e5;
    background: linear-gradient(45deg, #78b9e5 50%, rgba(120, 185, 229, 0) calc(50% + 2px)) 0 0/0.234375em 0.234375em no-repeat, linear-gradient(45deg, #78b9e5 50%, rgba(120, 185, 229, 0) calc(50% + 2px)) 100% 100%/0.234375em 0.234375em no-repeat, linear-gradient(-45deg, #2497ea, #2999ea);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    filter: drop-shadow(1px 0 1px #17639a);
}

#b08:after {
    margin-left: -0.25em;
    width: 1.25em;
    height: 1.25em;
    border-radius: 100% 0 0 0.1875em/0.375em 0.1875em;
    box-shadow: inset 0 1px 1px #78b9e5, inset 0 0.34375em 0.5rem #2999ea, inset 0 calc(0.6875em - 2px) 1px #2497ea, inset 0 calc(0.6875em - 1px) 1px #78b9e5, inset 0 0.6875em 1px #17639a;
    background: radial-gradient(circle at 0.1875em calc(100% - 0.1875em), #2189d9 0.16875em, #3690d6 0.1875em, transparent 0), linear-gradient(90deg, #3690d6 0.1875em, transparent 0);
    clip-path: polygon(0 0, 0 100%, 0.1875em 100%, 0.1875em calc(100% - 0.375em), 100% calc(100% - 0.375em), 100% 0);
}

#b09 {
    background: radial-gradient(at 80% 0, rgba(255, 221, 221, 0.15) 50%, transparent 51%) 50%/150% 210% border-box, radial-gradient(closest-side, #ff5735, rgba(207, 39, 5, 0)) 50% 100%/80% 0.125em no-repeat, linear-gradient(#e73200, crimson) content-box, linear-gradient(#ba3e38, #f07252) border-box;
}

#b10 {
    box-shadow: 0 0 0 0.0625em #cbcbcb;
    background: linear-gradient(#b2b2b2, #f4f4f4) content-box, radial-gradient(#ededed, rgba(222, 222, 222, 0)) 50% 100%/80% 0.125em no-repeat border-box, linear-gradient(#f4f4f4, #c9c9c9) border-box;
}

#b11 {
    box-shadow: inset 0 -0.5em 0.125rem 0.5em #cb2406;
    background: linear-gradient(#df330a, #d24324 33%) content-box, linear-gradient(#bd291b, #e54419) border-box;
}
#b11:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.25em;
    background: radial-gradient(at 50% 100%, #ab1207, transparent 70%) 50% 0/75% 0.125em no-repeat, radial-gradient(closest-side, #ea5027, transparent) 50% 100%/80% 0.125em no-repeat;
    content: "";
}

#b12 {
    padding-right: 1em;
    background: radial-gradient(at 50% 100%, #a5a5a5, rgba(213, 213, 213, 0) 70%) left 50% bottom 0.125em/80% 0.125em no-repeat padding-box, radial-gradient(closest-side, #f5f5f5, rgba(213, 213, 213, 0)) 50% 100%/80% 0.125em no-repeat padding-box, linear-gradient(#f8f8f8, #b5b5b5) padding-box, linear-gradient(#c4c4c4, #d2d2d2) border-box;
}

#b12:before, #b12:after {
    width: 0.75em;
    height: 0.75em;
    top: calc(50% - 0.375em);
    right: 0.375em;
    position: absolute;
    border-radius: 0.125em;
    background: #fff;
    color: #b2b2b2;
    content: "";
}

#b12:before {
    z-index: 2;
    border-radius: 0.125em 0.125em 0 0;
    transform: translatey(-10%) scalex(0.75);
    box-shadow: inset 0 0.125rem currentcolor, inset 0.1875rem 0 currentcolor, inset -0.1875rem 0 currentcolor;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
}

#b12:after {
    box-shadow: inset -0.125rem 0.125rem 0 currentcolor;
    transform: translatey(19%) rotate(135deg);
    background: linear-gradient(45deg, currentcolor calc(50% + .125rem), #fff 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
